@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;800&family=Inter:wght@400;500;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: overlay;
  }
  html,
  body {
    @apply h-full min-w-full font-sans font-regular bg-base-50 text-base-900;
  }
  input {
    @apply px-4 py-2 font-sans rounded-sm bg-primary-50 text-primary-900;
  }
  h1 {
    @apply my-2 text-4xl font-black font-title text-base-700;
  }
  h2 {
    @apply my-2 text-2xl font-semibold font-title text-base-700;
  }
  p, pre {
    @apply mb-4;
  }
  b {
    @apply font-medium;
  }
  abbr {
    @apply underline-offset-4 underline decoration-dotted decoration-base-400;
  }
  a {
    @apply text-primary-600 hover:underline flex gap-1 items-center;
  }
  a.active {
    @apply text-base-500;
  }
}

@layer components {
  .button {
    @apply flex gap-2 items-center px-4 py-2 rounded-sm no-underline hover:no-underline select-none font-medium;
  }
  .button-base {
    @apply bg-base-200 hover:bg-base-300 text-base-600;
  }
  .button-ghost {
    @apply bg-transparent hover:bg-base-300/50 text-base-600;
  }
  .button-primary {
    @apply bg-primary-200 hover:bg-primary-300 text-primary-600;
  }
  .button-success {
    @apply bg-success-200 hover:bg-success-300 text-success-600;
  }
  .button-warning {
    @apply bg-warning-200 hover:bg-warning-300 text-warning-600;
  }
  .button-error {
    @apply bg-error-200 hover:bg-error-300 text-error-600;
  }
  @keyframes fadeInShake {
    0% {
      transform: translateX(5px);
      opacity: 0;
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    70% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .animate-fadeInShake {
    animation: fadeInShake 0.3s;
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .animate-fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 500ms;
  }
}
