@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;800&family=Hanken+Grotesk:wght@400;500;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: overlay;
  }
  ::selection {
    @apply text-primary-50 bg-primary-600;
  }
  html,
  body {
    @apply h-full min-w-full font-body font-regular text-base-800 tracking-wide;
  }
  input {
    @apply px-4 py-2 font-body rounded-sm bg-primary-50 text-primary-900;
  }
  h1 {
    @apply my-2 text-4xl font-semibold font-title text-base-600 tracking-wide;
  }
  h2 {
    @apply my-2 text-2xl font-semibold font-title text-base-600 tracking-wide;
  }
  p {
    @apply mb-4;
  }
  code, pre {
    @apply font-mono font-medium;
  }
  code {
    @apply opacity-80;
  }
  b {
    @apply font-medium;
  }
  abbr {
    @apply underline-offset-4 underline decoration-dotted decoration-base-400;
  }
}

@layer components {
  .navlink {
    @apply text-primary-700 text-lg transition duration-200;
  }
  .navlink.active {
    @apply text-base-600 opacity-75;
  }
  .navlink:hover:not(.active) {
    transform: translateY(-2px);
    box-shadow: inset 0 -1.5px;
  }
  .button {
    @apply flex gap-2 items-center px-4 py-2 rounded-sm no-underline hover:no-underline select-none font-medium transition duration-300;
  }
  .button-base {
    @apply bg-base-200 hover:bg-base-300 text-base-700;
  }
  .button-ghost {
    @apply bg-transparent hover:bg-base-300/50 text-base-700;
  }
  .button-primary {
    @apply bg-primary-200 hover:bg-primary-300 text-primary-800;
  }
  .button-success {
    @apply bg-success-200 hover:bg-success-300 text-success-700;
  }
  .button-warning {
    @apply bg-warning-200 hover:bg-warning-300 text-warning-700;
  }
  .button-error {
    @apply bg-error-200 hover:bg-error-300 text-error-700;
  }
  @keyframes fadeInShake {
    0% {
      transform: translateX(5px);
      opacity: 0;
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    70% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .animate-fadeInShake {
    animation: fadeInShake 350ms;
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .animate-fadeInDown {
    animation: fadeInDown 350ms;
  }
  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(-5px);
    }
  }
  .animate-fadeOutUp {
    animation: fadeOutUp 350ms;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-fadeIn {
    animation: fadeIn 350ms;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .animate-fadeOut {
    animation: fadeOut 350ms;
  }
}
